/* Reset */
h1 {
    margin: 0;
}

body {
    background-color: #999;
}

.card {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    height: 500px;
}

.card-cover {
    background-image: url(images/profile.png);
    background-position: center;
    color: white;
    float: left;
    width: 300px;
    height: 500px;
}

.card-main {
    overflow: hidden;
}

.title {
    background-color: #666666;
    padding: 20px 0 0;
}

.title-icon {
    float: left;
    border-radius: 50px;
    border: 8px solid white;
    margin-left: 50px;
}

.title h1 {
    border: 5px solid red;
    overflow: hidden;
    padding: 0 20px;
}
.contents {
    border: 5px solid blue;
    padding: 20px;
    overflow: hidden;
}
